/********************************* header */

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: var(--white);
}


/******************************************* header up */

.header-up {
    height: 90px;
    text-decoration: none;
    padding: 15px 0;
}


/********************************************** header logo */

.header-up__logo {
    display: block;
    height: 100%;
}

.header-up__logo img {
    max-width: 170px;
    width: 100%;
    height: 100%;
}


/*********************************************header search */

.header-up__search {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/* menu mobile */

.menu-mobile {
    display: none;
    flex: 0 0 10%;
    margin-left: 10px;
}

.menu-mobile:hover {
    cursor: pointer;
}

.menu-mobile .menu-mobile__icon {
    display: inline-block;
    font-size: 3rem;
    font-weight: 200;
    color: #999;
}

.menu-mobile__modal {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-mobile__board {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    width: 60vw;
    height: 100vh;
    background-color: var(--white);
    transition: all 0.3s ease-in;
}

#check-menu:checked~.menu-mobile__modal {
    display: block;
}

#check-menu:checked~.menu-mobile__board {
    opacity: 1;
    transform: translateX(0);
}

.menu-mobile__item:first-child {
    background-color: var(--red);
    border: none;
}

.menu-mobile__item {
    display: flex;
    align-items: center;
    padding: 16px 10px;
    border-bottom: 1px solid var(--light);
}

.menu-mobile__item i {
    font-size: 1.6rem;
    color: var(--red);
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.menu-mobile__item a {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    color: var(--secondary);
    padding-top: 2px;
}

.menu-mobile__item a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    user-select: none;
}

i.menu-mobile__item-iconuser {
    font-size: 4rem;
    color: var(--white);
}

a.menu-mobile__item-nameuser {
    display: inline-block;
    padding-top: 20px;
    margin-left: 5px;
    font-size: 1.4rem;
    color: var(--white);
}

.menu-mobile__item-close {
    margin-left: auto;
}

.menu-mobile__item-close i {
    font-size: 1.8rem;
    color: var(--white);
    transform: translateY(-50%);
}


/* search */

.header-up__search-input {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-dark);
    border-radius: 30px;
    overflow: hidden;
}

.header-up__search-input form {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.header-up__search-input form input {
    flex-grow: 1;
    padding: 12px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 1.4rem;
}

.header-up__search-input form button {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: none;
    outline: none;
}

.header-up__search-input form button i {
    font-size: 2rem;
    display: block;
    color: var(--gray-dark);
    font-weight: 300;
    cursor: pointer;
}

.header-up__search-tuvan {
    flex: 0 0 30%;
    height: 100%;
}

.header-up__search-tuvan .wrap-icon {
    position: relative;
}

.header-up__search-tuvan .wrap-icon::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--red);
    box-shadow: 0 0 0 0 var(--red);
    animation: larger ease-in 0.3s infinite;
}

@keyframes larger {
    to {
        box-shadow: 0 0 10px 3px var(--red);
    }
}


.header-up__search-tuvan {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-up__search-tuvan-icon {
    display: block;
    font-size: 3rem;
    font-weight: 200;
}

.header-up__search-tuvan-sdt {
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--gray-dark);
}

.header-up__search-tuvan-sdt p:last-child {
    color: var(--red);
    font-weight: 600;
}


/********************************************header up options */

.header-up__options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/************************************************option login */

.header-up__options-login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.header-up__options-login::before {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    height: 20px;
}

.header-up__options-login i {
    font-size: 2rem;
}

.header-up__options-login a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--gray-dark);
    user-select: none;
}

.header-up__options-login:hover a:not(.header-up__options-login__link) {
    color: var(--orange);
}


.header-up__options-login__list {
    position: absolute;
    z-index: 10;
    left: -50%;
    top: 140%;
    background-color: var(--white);
    list-style: none;
    width: 130px;
    border: 1px solid var(--red);
    border-radius: 4px;
    transform: scale(0, 0);
    transform-origin: top center;
    transition: all ease-in 0.2s;
}

.header-up__options-login__list::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 14px;
    height: 14px;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--red) transparent transparent var(--red);
    border-radius: 4px;
    transform: translate(-50%, -50%) rotate(45deg);
    /* border:15px solid;
    border-color: transparent transparent var(--light) transparent; */
}

.header-up__options-login__item {
    width: 100%;
}

.header-up__options-login__link {
    display: inline-block;
    width: 100%;
    padding: 8px 5px;
}

.header-up__options-login__link:hover {
    color: var(--orange);
}

.header-up__options-login:hover .header-up__options-login__list {
    transform: scale(1, 1);
}


/* ****************************************************option enjoy */

.header-up__options-enjoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-up__options-enjoy i {
    font-size: 2rem;
}

.header-up__options-enjoy a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--gray-dark);
}

.header-up__options-enjoy span {
    position: absolute;
    top: -20%;
    right: -10%;
    width: 50%;
    height: 50%;
    padding: auto;
    background-color: var(--red);
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 30px;
    border: 2px solid var(--white);
}

.header-up__options-enjoy a:hover {
    color: var(--orange);
}


/* *******************************************************option cart */

.header-up__options-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-up__options-cart span {
    position: absolute;
    top: -20%;
    right: -10%;
    width: 50%;
    height: 50%;
    padding: auto;
    background-color: var(--red);
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 30px;
    border: 2px solid var(--white);
}

.header-up__options-cart i {
    font-size: 2rem;
}

.header-up__options-cart a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--gray-dark);
}

.header-up__options-cart a:hover {
    color: var(--orange);
}


/*************************************************** header down */

.header-down {
    height: 50px;
    background-color: var(--light);
}

.header-down__wrap-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 50px;
}

.header-down__wrap-link:last-of-type {
    margin-right: 0;
}

.header-down__link {
    text-decoration: none;
    color: var(--gray-dark);
    font-size: 1.4rem;
    font-weight: 550;
}

.header-down__wrap-link:hover .header-down__link {
    color: var(--orange);
}

.header-down__wrap-link:hover .header-down__icon {
    color: var(--orange);
    transform-origin: center;
    transform: rotateX(180deg) perspective(140px);
}

.header-down__wrap-link:hover .header-down__list-product {
    transform: rotateX(0);
}

.header-down__icon {
    font-size: 1.4rem;
    color: #999;
    margin-left: 15px;
    transition: all 0.2s linear;
}


/**************************************** list product */

.header-down__list-product {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 150%;
    background-color: var(--white);
    list-style: none;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: transform 0.2s ease-in;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.header-down__product {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--gray);
    padding: 6px 0 6px 10px;
    border-bottom: 2px solid var(--light);
    cursor: pointer;
}

.header-down__product-icon {
    font-size: 1.4rem;
    color: #999;
    margin-left: auto;
    margin-right: 5px;
}

.header-down__product:hover {
    color: var(--orange);
}

.header-down__product:hover .header-down__product-icon {
    color: var(--orange);
}

.header-down__product:hover ul {
    transform: rotateY(0);
    opacity: 1;
}


/* ********************************product list */

.header-down__product-list {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    list-style: none;
    background-color: var(--white);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform-origin: left;
    transform: rotateY(90deg);
    transition: all 0.2s ease-in;
}

.header-down__product-item {
    border-bottom: 2px solid var(--light);
    padding: 6px 0 6px 10px;
}

.header-down__product-item a {
    font-size: 1.4rem;
    color: var(--gray);
    text-decoration: none;
}

.header-down__product-item a:hover {
    color: var(--orange);
}


/****************************************** list new */

.header-down__list-news {
    width: 150px;
}

.header-down__news-link {
    color: var(--gray-dark);
}

.header-down__news-link:hover {
    color: var(--orange);
}

/**************************************container*****************/
.container {
    position: relative;
    top: 140px;
    margin-bottom: 24px;
}